<%= form_with(model: institution, local: true) do |form| %>
  <% if institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :institution_name %>
  </div>

  <div class="field">
    <%= form.label :school_type_id %> </p>
    <%= form.collection_select :school_type_id, SchoolType.all, :id, :name, {prompt: "Institution Type"}, class: "browser-default"  %>
  </div>

  <div class="field">
    <%= form.label :county_id %>
    <%= form.collection_select :county_id, County.all, :id, :name, { prompt: "Select County" }, class: "browser-default" %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :institution_address %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :institution_phone %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :institution_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
