<p id="notice"><%= notice %></p>

<h1>Institutions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution| %>
      <tr>
        <td><%= institution.name %></td>
        <td><%= link_to 'Show', institution, class: 'btn lighten-2' %></td>
        <% if admin_signed_in? %>
        <td><%= link_to 'Edit', edit_institution_path(institution), class: 'btn yellow lighten-2' %></td>
        <td><%= link_to 'Destroy', institution, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red lighten-2' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if admin_signed_in? %>
  <%= link_to 'New Institution', new_institution_path, class: 'btn' %>
<% end %>
