<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_institution_path(@institution) %> |
  <%= link_to 'Back', institutions_path %>
<% end %>

  <h2><%= @institution.name %></h2>

<% if admin_signed_in? %>
  <div id="collection_form" class="modal">
    <div class="modal-content">
      <h4>Cheque Collection Form</h4>
      <%= form_tag institution_collections_path(@institution) do %>
        <div class="field">
          <%= select_tag :financial_year_id, options_from_collection_for_select(FinancialYear.all, "id", "f_year"), class: 'browser-default' %>
        </div>
        <div class="field">
          <%= text_field_tag :name, nil, :placeholder => 'Full Names as Per National ID', :required => true %>
        </div>
        <div class="field">
          <%= text_field_tag :contact, nil, :placeholder => 'Enter Phone Number', :required => true %>
        </div>
        <div class="field">
          <%= text_field_tag :cheque, nil, :placeholder => 'Enter Cheque Number', :required => true %>
        </div>
        <div class="field">
          <%= text_field_tag :amount, nil, :placeholder => 'Amount on Cheque', :required => true %>
        </div>
        <div class="field">
          <%= date_field_tag :date, nil %>
        </div>
        <div class="field">
          <%= submit_tag 'Submit', class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<p>
  <strong>Type:</strong>
  <%= SchoolType.find(@institution.school_type_id).name %>
</p>

<p>
  <strong>County:</strong>
  <%= County.find(@institution.county_id).name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @institution.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @institution.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @institution.email %>
</p>

<p>
  <strong>Busaries Issued: </strong>
  <%= number_to_currency(@total_issued, unit: "Ksh", separator: ".", delimiter: ",") %>
</p>

<p>
  <strong>Busaries Collected: </strong>
  <%= number_to_currency(@total_collected, unit: "Ksh", separator: ".", delimiter: ",") %>
</p>

<% if admin_signed_in? %>
  <button class="btn" onclick="collection()">new collection</button>
<% end %>



<div class="row">
  <div class="col s6">
    <h3>Students</h3>
    <table>
      <thead>
          <th>Names</th>
          <th>Reg no</th>
          <th>Level</th>
          <th>Busaries</th>
          <th colspan="3"></th>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.first_name %>
            <%= student.middle_name %>
            <%= student.surname %></td>
            <td><%= student.reg_no %></td>
            <td><%= student.level %></td>
            <td><%= student.busaries.count %></td>
            <td><%= link_to 'Show', student, class: 'btn lighten-2' %></td>
            <% if admin_signed_in? %>
              <td><%= link_to 'Edit', edit_student_path(student), class: 'btn yellow lighten-2' %></td>
              <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red lighten-2' %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @students %>

  </div>
  <div class="col s6">
    <h3>Collections</h3>
    <table>
      <thead>
        <th>Parent/Guardian</th>
        <th>Contact</th>
        <th>Cheque Number</th>
        <th>Amount</th>
        <th>Date</th>
      </thead>
      <tbody>
        <% @collections.each do |collection| %>
          <tr>
            <td><%= collection.name %></td>
            <td><%= collection.contact %></td>
            <td><%= collection.cheque %></td>
            <td><%= collection.amount %></td>
            <td><%= collection.date %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
