<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name, id: :student_first_name %>
  </div>

  <div class="field">
    <%= form.label :middle_name %>
    <%= form.text_field :middle_name, id: :student_middle_name %>
  </div>

  <div class="field">
    <%= form.label :surname %>
    <%= form.text_field :surname, id: :student_surname %>
  </div>

  <div class="field">
    <%= form.label :reg_no %>
    <%= form.text_field :reg_no, id: :student_reg_no %>
  </div>

  <div class="field">
    <%= form.label :level %>
    <%= form.text_field :level, id: :student_level %>
  </div>

  <div class="field">
    <%= form.label :institution_id %>
    <%= form.collection_select :institution_id, Institution.all, :id, :name, {prompt: "Select Institution"}, class: "browser-default" %>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :student_notes %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
