<p id="notice"><%= notice %></p>

<h1>Students</h1>
<%= form_tag students_path, :method => 'get', :id => "students_search" do %>
  <p>
    <label>Search Students by Surname</label>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", class: 'btn' %>
  </p>

  <div id="students">
    <%= render 'students' %>
  </div>
<% end %>


<table>
  <thead>
    <tr>
      <th>Names</th>
      <th>Reg no</th>
      <th>Level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %>
          <%= student.middle_name %>
          <%= student.surname %>
        </td>
        <td><%= student.reg_no %></td>
        <td><%= student.level %></td>
        <td><%= link_to 'Show', student, class: 'btn' %></td>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_student_path(student), class: 'btn yellow lighten-2' %></td>
          <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn red lighten-2' %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @students %>

<br>
<% if admin_signed_in? %>
  <%= link_to 'New Student', new_student_path, class: "btn" %>
<% end %>
