
<p id="notice"><%= notice %></p>

<% if admin_signed_in? %>
  <%= link_to 'Edit', edit_student_path(@student), class: "btn" %>
  <%= link_to 'Back', students_path, class: "btn" %>
  <%= link_to 'Issue Busary', new_busary_path(student_id: @student), class: "btn" %>
<% end %>
<h2><%= @student.first_name %> <%= @student.middle_name %> <%= @student.surname %></h2>
<p><strong>Institution:</strong> <%= link_to @student.institution.name, institution_path(@student.institution) %></p>
<p><strong>Registration Number:</strong> <%= @student.reg_no %></p>
<p><strong>Total Busaries:</strong> <%= number_to_currency(@sum_total, unit: "Ksh", separator: ".", delimiter: ",") %> </p>
<p><strong>Collected Busaries:</strong> <%= number_to_currency(@sum_collected, unit: "Ksh", separator: ".", delimiter: ",") %> </p>
<p><strong>Notes:</strong> <%= @student.notes %> </p>

<h3>Busaries (<%= @busaries.count %>)</h3>
<% if @busaries.any? %>
<table>
  <th>Financial Year</th>
  <th>Collected</th>
  <th>Amount</th>
  <tbody>
    <% @busaries.each do |busary| %>
        <tr>
          <td><%= FinancialYear.find(busary.financial_year_id).f_year %></td>
          <% if busary.status === true %>
            <td><label class="badge green">Collected</label></td>
          <% else %>
            <% if admin_signed_in? %>
              <td><label class="badge red"><%= link_to "Award", award_path(busary.id), style: "color: white;" %></label></td>
            <% else %>
                <td><label class="badge yellow">Pending</label></td>
            <% end %>
          <% end %>
          <td><%= number_to_currency(busary.amount, unit: "Ksh", separator: ".", delimiter: ",") %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @busaries %>

<% end %>
