<%= form_with(model: constituency, local: true) do |form| %>
  <% if constituency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(constituency.errors.count, "error") %> prohibited this constituency from being saved:</h2>

      <ul>
      <% constituency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :constituency_name %>
  </div>

  <div class="field">
    <%= form.label :member_of_parliament %>
    <%= form.text_field :member_of_parliament, id: :constituency_member_of_parliament %>
  </div>

  <div class="field">
    <%= form.label :about %>
    <%= form.text_area :about, id: :constituency_about, placeholder: 'About our constituency' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
