<h1>Editing Constituency</h1>

<%= link_to "Add Potrait", new_image_path(@constituency) %>

<%= render 'form', constituency: @constituency %>



<%= link_to 'Show', @constituency %> |
<%= link_to 'Back', constituencies_path %>
