<p id="notice"><%= notice %></p>


  <div class="row">
    <div class="col s4">
      <div class="card" style="background: linear-gradient(green 20%, white 80%);">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag "mp.jpg", height: "250", class: 'screen-img' %>
      </div>
        <p style="text-align: center;"><%= @constituency.member_of_parliament %></p>
        <p><%= @constituency.about %></p>
        <% if admin_signed_in? %>
          <%= link_to 'Edit', edit_constituency_path(@constituency) %>
        <% end %>
      </div>
    </div>
    <div class="col s4">
      <div class="card" style="height: 322px; background: linear-gradient(green 20%, white 80%);">
        <div class="home-card">
          <h1>Vision Statement</h1>
          <p>To transform Juja Constituency into a middle income constituent by providing a high quality life foor the constituents</p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card" style="height: 322px; background: linear-gradient(green 20%, white 80%);">
        <div class="home-card">
          <h1>Mission Statement</h1>
          <p>To provide leadership and policy guidlines for easier absorption and management of funds at grassroot level</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <h4>Core Values</h4>
    <p>Transparency | Efficiency | Accecibility | Equitability</p>
  </footer>
