<%= form_with(model: project, url: ward_projects_path, local: true) do |form| %>
  <% if project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :project_name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :project_description %>
  </div>
  <!-- Add project to financial year -->
  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: 'datepicker' %>

  </div>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn lighten-2' %>
  </div>
<% end %>
