<p id="notice"><%= notice %></p>
<p>
  <% if admin_signed_in? %>
  <%= link_to 'Edit', edit_ward_project_path(@project), class: "btn" %>
  <%= link_to 'Uplaod Images', new_image_path(@project), class: "btn" %>
  <% end %>
  <%= link_to 'Back', ward_path(@project.ward_id), class: "btn" %>

</p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<!-- List project photos and any other desc -->
<div class="row">
       <% @project.images.each do |image| %>
       <div class="col s4">
         <div class="card">
           <div class="card-image">
             <%= image_tag image.image.url, class: "screen-img" %>
           </div>
           <div class="card-content">
             <p><%= image.description %></p>
             </div>
          </div>
        </div>
       <% end %>
   </div>
