<%= form_with(model: busary, local: true) do |form| %>
  <% if busary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(busary.errors.count, "error") %> prohibited this busary from being saved:</h2>

      <ul>
      <% busary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :student_id, value: params[:student_id] %>
  </div>

  <div class="field">
    <%= form.hidden_field :institution_id, value: Student.find(params[:student_id]).institution_id %>
  </div>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :busary_amount %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.check_box :status, id: :busary_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
