<h2>Trends and Analytics</h2>

<div class="row">
  <div class="col s4">
    <p>Allocation by Year</p>
    <%= pie_chart({"2013" => 10, "2014" => 5, "2015" => 5, "2016" => 5, "2017" => 5}, download: true) %>
  </div>
  <div class="col s4">
    <p>Boarding vs Day Schools</p>
    <%= pie_chart({"Day Schools" => 10, "Boarding Schools" => 5}) %>
  </div>
  <div class="col s4">
    <p>By Level of Education</p>
    <%= pie_chart({"Universitis" => 10, "High Schools" => 5, "Primary School" => 5}) %>
  </div>
  <div class="col s4">
    <p>Boy vs Girls</p>
    <%= pie_chart({"Boys" => 10, "Girls" => 15}) %>
  </div>

</div>
