<% @financial_years.each do |fy| %>
  <button class="btn" onclick="financial_year(<%= fy.id %>)"><%= fy.f_year %></button>
  
<% end %>

<% @financial_years.each do |fy| %>
<div id="financial_year<%= fy.id %>" style="display: none">
    <div class="dash">
      <p> <strong>Total Disbursed:</strong> <%= number_to_currency(fy.disbursments.sum(:amount), unit: "KES ") %> </p>
      <p> <strong>Institutions: </strong> <%= fy.disbursments.select(:institution_name).map(&:institution_name).uniq.count %> </p>
      <p> <strong>Students: </strong> <%= fy.disbursments.count %> </p>
    </div>
    <div class="row">
      <div class="col s6">
        <h3>Institutions</h3>
        <table class="striped">
          <thead>
            <th>Institution</th>
            <th>No. Students</th>
            <th>Total Allocation</th>
          </thead>
          <tbody>
            <% fy.disbursments.select(:institution_name).map(&:institution_name).uniq.each do |inst| %>
              <tr>
                <td><%= inst %> </td>
                <td><%= fy.disbursments.where("institution_name =?", inst).count %> </li></td>
                <td><%= fy.disbursments.where("institution_name =?", inst).sum(:amount) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col s6">
        <h3>Beneficieries</h3>
        <table class="striped">
          <thead>
            <th>Institution Name</th>
            <th>Student Name</th>
            <th>Registration Number</th>
            <th>Class</th>
            <th>Amount</th>
            <th>Financial Year</th>
          </thead>
          <tbody>
            <% fy.disbursments.each do |disbursment| %>
              <tr>
                <td><%= disbursment.institution_name %></td>
                <td><%= disbursment.student_name %></td>
                <td><%= disbursment.reg_no %></td>
                <td><%= disbursment.level %></td>
                <td><%= disbursment.amount %></td>
                <td><%= if disbursment.financial_year_id != nil  then FinancialYear.find(disbursment.financial_year_id).f_year end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <% end %>


<h1>New Busary Disbursments</h1>
<%= form_tag financial_years_path do  %>
  <div class="field">
    <label for="">Enter Financial Year</label>
    <%= text_field_tag :f_year %>
  </div>
  <%= submit_tag 'Save Disbursment' %>
<% end %>
<table class="striped">
  <thead>
    <th>Institution Name</th>
    <th>Student Name</th>
    <th>Registration Number</th>
    <th>Class</th>
    <th>Amount</th>
  </thead>
  <tbody>
    <% @disbursments.each do |disbursment| %>
      <tr>
        <td><%= disbursment.institution_name %></td>
        <td><%= disbursment.student_name %></td>
        <td><%= disbursment.reg_no %></td>
        <td><%= disbursment.level %></td>
        <td><%= disbursment.amount %></td>
        <td><%= if disbursment.financial_year_id != nil  then FinancialYear.find(disbursment.financial_year_id).f_year end %></td>
      </tr>
    <% end %>
    <p> <strong>Total: <%= number_to_currency( @disbursments.sum(:amount), unit: 'KES ' ) %></strong> </p>
  </tbody>
</table>
