<p id="notice"><%= notice %></p>
<h3>Busary Application</h3>

<div class="row">
  <div class="col s4">
    <% if admin_signed_in? %>
      <%= link_to 'Students', students_path, class: 'btn' %>
      <%= link_to 'Add Student', new_student_path, class: 'btn' %>
    <% else %>
      <%= link_to 'Students', students_path, class: 'btn' %>
    <% end %>
    <p><%= number_to_currency(@sum_total, :unit => "Ksh" ) %> issued in busary cheques</p>
    <p>We have <%= @students.count %> under the busary program</p>
    <p>Some Other relavant informatio can go here</p>
    <p>Like the amount of time it take sfor busaries to get ready</p>
  </div>

  <div class="col s4">
    <% if admin_signed_in? %>
      <%= link_to 'Institutions', institutions_path, class: 'btn' %>
      <%= link_to 'Add Institute', new_institution_path %>
    <% else %>
      <%= link_to 'Institutions', institutions_path, class: 'btn' %>
    <% end %>
    <p>Busaries have been disbursed to <%= @institutions.count %> institutions
       all over the country.
    </p>
  </div>

  <div class="col s4">
    <%= link_to 'Disbursments', disbursment_busaries_path, class: 'btn' %>
    <% if admin_signed_in? %>
      <%= form_tag import_busaries_path, multipart: true do %>
        <div class="field">
          <%= file_field_tag :file %>
        </div>
        <%= submit_tag "Import", class: 'btn' %>
      <% end %>
    <% end %>
  </div>



</div>
