<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @busary.amount %>
</p>

<p>
  <strong>Status:</strong>
  <%= @busary.status %>
</p>

<%= link_to 'Edit', edit_busary_path(@busary) %> |
<%= link_to 'Back', busaries_path %>
