@import "materialize";


.topnav {
  // padding: 50px;
  font-size: 50px;
  background-image: url('flag3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    font-size: 40px;
  }
}

@media screen and (max-width: 1000px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@media screen and (max-width: 1000px) {
  .row .col.s4 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
      font-size: 30px;
      text-align: justify;
  }

  .row .col.s6 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
      font-size: 30px;
      text-align: justify;
  }

  .row .col.s3 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
      font-size: 30px;
      text-align: justify;
  }

  .screen-img {
    height: 700px;
    width: 70%;
  }

  .btn {
    margin: 10px;
    padding: 20px;
    height: 50%;
    width: 100%;
    font-size: 30px;
  }

  .container {
    font-size: 30px;
  }

  label {
    font-size: 50px;
  }

    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
      background-color: transparent;
      border: none;
      border-bottom: 1px solid #9e9e9e;
      border-radius: 0;
      outline: none;
      height: 3rem;
      width: 100%;
      font-size: 45px;
      margin: 0 0 8px 0;
      padding: 0;
      box-shadow: none;
      box-sizing: content-box;
      transition: box-shadow .3s, border .3s;
  }

  h1, h2, h3, h4, h5 {
    text-align: center;
  }

  .field {
    padding: 15px;
  }

  .project-image-individual {
    height: 100%;
  }

}



.logo {
  padding: 10px;

  #logo-left {
    float: left;
  }

  #logo-right {
    float: right;
  }
}

body {
  background-image: url('bg.png');
}

.auth {
  float: right;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
  background-image: url("/images/up.png");
}

.pretty th .desc {
  background-image: url("/images/down.png");
}

.row {
  padding-top: 50px;

  .card {
    padding: 10px;
    text-align: justify;

    h1 {
      font-size: 35px;
      text-align: center;
    }
  }
}

.project-image {
  height: 227px;
  background-position: center center;
  background-repeat: no-repeat;
}

.project-image-individual {
  height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
}

.home-card{
  padding: 15px;
  background-color: white;
  h1 {
    color: green;
  }
}

.badge {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

footer {
  text-align: center;
  letter-spacing: 3px;
  h4 {
    color: green;
  }
}
