<%= form_with(model: ward, local: true) do |form| %>
  <% if ward.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ward.errors.count, "error") %> prohibited this ward from being saved:</h2>

      <ul>
      <% ward.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :ward_name %>
  </div>
  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :ward_description %>
  </div>

  <div class="actions">
    <%= form.submit 'Create', class: 'btn lighten-2' %>
  </div>
<% end %>
