<p id="notice"><%= notice %></p>

  <h6>Financial Years</h6>
  <% @years.each do |year| %>
    <button class="btn lighten-2"><%= year.f_year %></button>
  <% end %>

<h1>Wards</h1>
  <% if admin_signed_in? %>
    <%= link_to 'New Ward', new_ward_path, class: 'btn' %>
  <% end %>
  <div class="row">
    <% @wards.each do |ward| %>
    <div class="col s3">
      <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag('flag2.jpg', class: 'activator') %>
         </div>
         <div class="card-content">
           <%= link_to ward.name, ward, class: 'btn' %>
         </div>
        </div>
    </div>

    <% end %>
  </div>
