<p id="notice"><%= notice %></p>
<% if admin_signed_in? %>
  <%= link_to 'Add Project',  new_ward_project_path(@ward), class: "btn" %>
<% end %>
  <h1><%= @ward.name %></h1>
  <p><%= @ward.description %></p>

  <div class="row">
    <% @ward.projects.each do |project| %>
    <div class="col s6">
      <div class="card">
         <div class="card-image waves-effect waves-block waves-light">
           <!-- image_tag project.images.first.id -->
            <% if project.images.any? %>
              <%= image_tag project.images.first.image.url, class: "screen-img" %>
            <% else %>
              <%= image_tag("flag2.jpg") %>
            <% end %>
         </div>
         <div class="card-content">
           <%= link_to project.name, ward_project_path(@ward,project), class: "btn" %>
         </div>
        </div>
    </div>

    <% end %>
  </div>


<% if admin_signed_in?%>
  <%= link_to 'Edit', edit_ward_path(@ward), class: "btn" %>
<% end %>
<%= link_to 'Back', wards_path, class: "btn" %>
