<%= form_with(model: image, local: true) do |form| %>
  <% if image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% image.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :project_id, value: params[:format] %>
  <%= form.hidden_field :constituency_id, value: params[:format] %>
  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image, id: :image_image %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :image_description %>
  </div>

  <div class="actions">
    <%= form.submit 'Upload Image', class: 'btn' %>
  </div>
<% end %>
