<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @image.image.thumb.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
