<!DOCTYPE html>
<html>
  <head>
    <title>ConstituencyPortal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <div class="topnav" id="myTopnav">
    <%= link_to Constituency.last.name, root_path, class: "brand-logo" %>
    <%= link_to "Busary", busaries_path %>
    <%= link_to "Projects", wards_path %>
    <% if admin_signed_in? %>
      <%= link_to 'Analytics', analytics_path %>
      <%= link_to 'Logout', destroy_admin_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log In', new_admin_session_path  %>
    <% end %>
    <a href="javascript:void(0);" style="font-size:40px;" class="icon" onclick="mobileNav()">&#9776;</a>
  </div>


  <div class="logo">
    <div id="logo-left">
      <%= image_tag('cdf-official-logo.png', height: 120) %>
    </div>
    <div id="logo-right">
      <%= image_tag('cdf-official-logo.png', height: 120) %>
    </div>
  </div>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
